body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.note-card {
  transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}

i {
  cursor: pointer;
}

input {
  transition: background-color 0.4s ease, color 0.4s ease;
}